<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Daftar Film</title> -->
    <% title = 'Dashboard' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Coming Soon Movies</h1>

        <table class="table table-bordered">
        <thead>
            <tr>
            <th>No</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Poster</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% comingsoon.forEach((comingsoon, index) => { %>
            <tr>
            <td><%= index + 1 %></td>
            <td><%= comingsoon.title %></td>
            <td><%= comingsoon.genre %></td>
            <td><%= comingsoon.release_date %></td>
            <td>
                <% if (comingsoon.poster) { %>
                <img src="/uploads/<%= comingsoon.poster %>" alt="Poster" width="100">
                <% } else { %>
                No Image
                <% } %>
            </td>
            <td>
                <a href="/edit_comingsoon/<%= comingsoon.id %>" class="btn btn-warning btn-sm">Edit</a>
                <form action="/delete_comingsoon/<%= comingsoon.id %>" method="POST" style="display:inline;" onsubmit="return confirm('Apakah Anda yakin ingin menghapus jadwal ini?');">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>                            
            </td>
            </tr>
            <% }); %>
        </tbody>
        </table>
    </table>
    <a href="/logout" class="btn btn-primary">logout</a>
    <a href="/add_coming_soon" class="btn btn-primary">Tambah Data</a>
    <a href="/data-bioskop" class="btn btn-primary">Data Bioskop</a> 
    <a href="/data" class="btn btn-primary ">Data Film</a>
    <a href="/data_schedules" class="btn btn-primary">Data schedules</a>  
    </div>

    <br>
    <script src="/js/data.js"></script>
</body>
</html>
