<!DOCTYPE html>
<html>
<head>
  <% title = 'Movie Schedule' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
  <div class="header">
    <div class="header-schedule">
      <i class="fas fa-calendar-alt"></i> SCHEDULE
    </div>
  </div>

 <!-- Filter Section -->
 <div class="filter-section">
  <label for="city-select">Pick your Theater!</label>
  <select id="city-select" onchange="filterCity()">
      <option value="All" <%= city === 'All' ? 'selected' : '' %>>All</option>
      <option value="Jakarta" <%= city === 'Jakarta' ? 'selected' : '' %>>Jakarta</option>
      <option value="Bekasi" <%= city === 'Bekasi' ? 'selected' : '' %>>Bekasi</option>
      <option value="Depok" <%= city === 'Depok' ? 'selected' : '' %>>Depok</option>
  </select>
</div>


  <!-- Theater List -->
  <div class="theater-list-container">
    <h3 class="theater-header">
        <% if (city === 'All') { %>
            All Theaters
        <% } else { %>
            Theaters in <span id="city-name"><%= city %></span>
        <% } %>
    </h3>
    <div class="theaters" id="theater-list">
        <% if (theaters.length > 0) { %>
            <% theaters.forEach(theater => { %>
              <div class="theater-card" onclick="redirectToScheduleDetail('<%= theater.name %>')">
                    <i class="fas fa-film"></i>
                    <div class="theater-name"><%= theater.name %></div>
                    <div class="theater-location"><%= theater.location %></div>
                </div>
            <% }) %>
        <% } else { %>
            <div>No theaters found in <%= city === 'All' ? 'any city' : city %>.</div>
        <% } %>
    </div>
</div>

<script>
  function filterCity() {
      const city = document.getElementById('city-select').value;
      window.location.href = `/schedule?city=${city}`;
  }

    function redirectToScheduleDetail(theaterName) {
        const encodedName = encodeURIComponent(theaterName); // Untuk menangani karakter khusus
        window.location.href = `/schedule_detail?theater=${encodedName}`;
    }

</script>
</body>
</html>
