<!DOCTYPE html>
<html>
<head>
  <% title = 'Movie Schedule' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
  <div class="header">
    <div class="header-schedule">
      <i class="fas fa-calendar-alt"></i> SCHEDULE
    </div>
  </div>

  <div class="container-schedule">
    <% movies.forEach(movie => { %>
    <div class="movie-header">
        <a href="/schedule_film/<%= movie.id %>">
            <img src="/uploads/<%= movie.poster %>" alt="Poster" class="movie-poster">
        </a>
      <div class="movie-details">
        <div class="movie-title">
          <%= movie.title %>
        </div>
        <div class="movie-genre">
          <%= movie.genre %>
        </div>
        <div class="movie-duration">
          Duration: <%= movie.duration %> mins
        </div>
      </div>
    </div>
    <div class="date-selector">
      <% movie.dates.forEach(date => { %>
        <div class="date-item">
          <div class="date-weekday"><%= date.weekday %></div>
          <div class="date-day"><%= date.day %></div>
        </div>
      <% }); %>
    </div>
    <% }); %>
  </div>
  
</body>
</html>
